/*
    Colors used:
    Seashell: #FDF0ED   -- text
    Gunmetal: #2E303E   -- background
    
    Buff: #F3DE8A
    Amazonite: #00BFB2
    Terra Cotta: #E26D5A
*/

/* START GENERAL BODY SETTINGS */
body {
    margin: 0;
    padding: 0;
    background-color: #2E303E;
    /* color: #FDF0ED;  */
    color: snow; 
}

nav a {
    color: snow; 
}

.main a {
    /* color: #FDF0ED; */
    color: snow; 

}
/* END GENERAL BODY STYLINGS */


/* START HEADER STYLINGS */
header { 
    border-bottom: solid 1px #00bfb2; 
    width: 100%;
    height: 60px; 
    position: fixed; 
    z-index: 2;
    background-color: inherit; 
    box-shadow: 0 4px 15px 2px rgb(28, 29, 37); 
}

nav {
    padding: 6px 10px 0 0;  
}

nav ul {
    position: relative;
    float: right; 
}

nav li {
    padding: 4px; 
    display: inline-block; 
    padding: 0 15px;
}

nav a {
    text-decoration: none; 
}
/* END HEADER STYLINGS */


/* START HOME PAGE STYLINGS (index.html) */
.intro {
    position: relative;
    float: left; 
    width: 35%;
    margin-top: 60px;
    padding: 15px 20px; 
}

#homeImg {
    position: relative;
    float: right; 
    margin-top: 60px; 
    width: 50%;
    height: 100%; 
}
/* END HOME PAGE STYLINGS */