/*
    Colors used:
    Seashell: #FDF0ED   -- text
    Gunmetal: #2E303E   -- background
    
    Buff: #F3DE8A
    Amazonite: #00BFB2
    Terra Cotta: #E26D5A

    Fonts used:
    font-family: 'Hepta Slab', serif;   -- Title/Nav
    font-family: 'Open Sans', sans-serif;   -- Body 
*/


/* START IMPORTS SECTION */
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Open+Sans&display=swap');
/* END IMPORTS SECTION */


/* START GENERAL BODY SETTINGS */
body {
    margin: 0;
    padding: 0;
    background-color: #2E303E; 
    /* color: #FDF0ED;  */
    color: snow; 
    /* font-family: 'Open Sans', sans-serif; */
}

nav a {
    color: snow; 
}

.main a {
    /* color: #FDF0ED; */
    color: snow; 

}
/* END GENERAL BODY STYLINGS */


/* START HEADER STYLINGS */
header { 
    font-family: 'Hepta Slab', serif;
    border-bottom: solid 1px #00bfb2; 
    width: 100%;
    height: 60px; 
    position: fixed; 
    z-index: 2;
    background-color: inherit; 
    box-shadow: 0 4px 15px 3px rgb(28, 29, 37); 
    padding-bottom: 4px;
}

nav {
    padding: 6px 10px 0 0;  
    display: block;
    position: relative;
    float: right; 
}

nav li {
    padding: 4px; 
    display: inline-block; 
    padding: 0 15px;
}

nav a {
    text-decoration: none; 
}

.logo {
    display: inline-block;
    /* margin: 10px 0 0 10px; */
    margin-left: 10px; 
}

.logo h1, .logo img {
    display: inline-block;
}

.logo img {
    margin: 8px 4px 0 0; 
}

.logo h1 {
    margin: 0 4px 4px 0;
    padding-bottom: 10px; 
}

/* END HEADER STYLINGS */


/* START HOME PAGE STYLINGS (index.html) */
.intro {
    position: relative;
    float: left; 
    width: 40%;
    margin-top: 60px;
    padding: 15px 20px; 
}

#homeImg {
    position: relative;
    float: right; 
    margin-top: 60px; 
    width: 50%;
    height: 100%; 
}
/* END HOME PAGE STYLINGS */